.illustration {
    display: flex;
    justify-content: center;
    height: 45vh;
}

.illustration div {
    width: 294px;
}

.illustration div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
